<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengpeng.api.task.dao.PrintIssueMapper" >
  <resultMap id="BaseResultMap" type="com.hengpeng.api.entity.PrintIssue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="issue_no" property="issueNo" jdbcType="VARCHAR" />
    <result column="game_type" property="gameType" jdbcType="VARCHAR" />
    <result column="bonus_code" property="bonusCode" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="official_start_time" property="officialStartTime" jdbcType="TIMESTAMP" />
    <result column="official_stop_time" property="officialStopTime" jdbcType="TIMESTAMP" />
    <result column="issue_type" property="issueType" jdbcType="VARCHAR" />
    <result column="is_bonus" property="isBonus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, issue_no, game_type, bonus_code, start_time, stop_time, official_start_time, 
    official_stop_time, issue_type, is_bonus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from printissue
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from printissue
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hengpeng.api.entity.PrintIssue" >
    insert into printissue (id, version, issue_no, 
      game_type, bonus_code, start_time, 
      stop_time, official_start_time, official_stop_time, 
      issue_type, is_bonus)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, #{issueNo,jdbcType=VARCHAR}, 
      #{gameType,jdbcType=VARCHAR}, #{bonusCode,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{stopTime,jdbcType=TIMESTAMP}, #{officialStartTime,jdbcType=TIMESTAMP}, #{officialStopTime,jdbcType=TIMESTAMP}, 
      #{issueType,jdbcType=VARCHAR}, #{isBonus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengpeng.api.entity.PrintIssue" >
    insert into printissue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="issueNo != null" >
        issue_no,
      </if>
      <if test="gameType != null" >
        game_type,
      </if>
      <if test="bonusCode != null" >
        bonus_code,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="officialStartTime != null" >
        official_start_time,
      </if>
      <if test="officialStopTime != null" >
        official_stop_time,
      </if>
      <if test="issueType != null" >
        issue_type,
      </if>
      <if test="isBonus != null" >
        is_bonus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="issueNo != null" >
        #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null" >
        #{gameType,jdbcType=VARCHAR},
      </if>
      <if test="bonusCode != null" >
        #{bonusCode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="officialStartTime != null" >
        #{officialStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="officialStopTime != null" >
        #{officialStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issueType != null" >
        #{issueType,jdbcType=VARCHAR},
      </if>
      <if test="isBonus != null" >
        #{isBonus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengpeng.api.entity.PrintIssue" >
    update printissue
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="issueNo != null" >
        issue_no = #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null" >
        game_type = #{gameType,jdbcType=VARCHAR},
      </if>
      <if test="bonusCode != null" >
        bonus_code = #{bonusCode,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="officialStartTime != null" >
        official_start_time = #{officialStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="officialStopTime != null" >
        official_stop_time = #{officialStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="issueType != null" >
        issue_type = #{issueType,jdbcType=VARCHAR},
      </if>
      <if test="isBonus != null" >
        is_bonus = #{isBonus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengpeng.api.entity.PrintIssue" >
    update printissue
    set version = #{version,jdbcType=BIGINT},
      issue_no = #{issueNo,jdbcType=VARCHAR},
      game_type = #{gameType,jdbcType=VARCHAR},
      bonus_code = #{bonusCode,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      official_start_time = #{officialStartTime,jdbcType=TIMESTAMP},
      official_stop_time = #{officialStopTime,jdbcType=TIMESTAMP},
      issue_type = #{issueType,jdbcType=VARCHAR},
      is_bonus = #{isBonus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   	<!-- 自定义 -->
	<select id="getLock" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from printissue
		where id = #{id,jdbcType=BIGINT} FOR UPDATE
	</select>
	
    <select id="selectByBean" resultMap="BaseResultMap" parameterType="com.hengpeng.api.entity.PrintIssue">
		select
		<include refid="Base_Column_List" />
		from printissue T WHERE 1 = 1
      <if test="version != null" >
        AND version = #{version,jdbcType=BIGINT}
      </if>
      <if test="issueNo != null" >
        AND issue_no = #{issueNo,jdbcType=VARCHAR}
      </if>
      <if test="gameType != null" >
        AND game_type = #{gameType,jdbcType=VARCHAR}
      </if>
      <if test="bonusCode != null" >
        AND bonus_code = #{bonusCode,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null" >
        AND start_time = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="stopTime != null" >
        AND stop_time = #{stopTime,jdbcType=TIMESTAMP}
      </if>
      <if test="officialStartTime != null" >
        AND official_start_time = #{officialStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="officialStopTime != null" >
        AND official_stop_time = #{officialStopTime,jdbcType=TIMESTAMP}
      </if>
      <if test="issueType != null" >
        AND issue_type = #{issueType,jdbcType=VARCHAR}
      </if>
      <if test="isBonus != null" >
        AND is_bonus = #{isBonus,jdbcType=VARCHAR}
      </if>
	</select>

	<select id="selectCountByIssueNo" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1)
		from printissue
		where issue_no = #{issueNo,jdbcType=VARCHAR}
	</select>
	
	<update id="updateByIssueNoSelective" parameterType="com.hengpeng.api.entity.PrintIssue" >
	    update printissue
	    <set >
	      <if test="version != null" >
	        version = #{version,jdbcType=BIGINT},
	      </if>
	      <if test="issueNo != null" >
	        issue_no = #{issueNo,jdbcType=VARCHAR},
	      </if>
	      <if test="gameType != null" >
	        game_type = #{gameType,jdbcType=VARCHAR},
	      </if>
	      <if test="bonusCode != null" >
	        bonus_code = #{bonusCode,jdbcType=VARCHAR},
	      </if>
	      <if test="startTime != null" >
	        start_time = #{startTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="stopTime != null" >
	        stop_time = #{stopTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="officialStartTime != null" >
	        official_start_time = #{officialStartTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="officialStopTime != null" >
	        official_stop_time = #{officialStopTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="issueType != null" >
	        issue_type = #{issueType,jdbcType=VARCHAR},
	      </if>
          <if test="isBonus != null" >
        	is_bonus = #{isBonus,jdbcType=VARCHAR},
      </if>
	    </set>
	    where issue_no = #{issueNo,jdbcType=VARCHAR}
  	</update>

  	<!-- 需要中心信息的奖期 -->
    <select id="selectNeedRemoteIssue" resultMap="BaseResultMap" parameterType="com.hengpeng.api.entity.PrintIssue">
		select
		<include refid="Base_Column_List" />
		<![CDATA[
		from printissue T
		where T.issue_type not in('1', '7')
		]]>
	</select>  	

	<!-- 需要兑奖的奖期 -->
    <select id="selectNeedBonusIssue" resultMap="BaseResultMap" parameterType="com.hengpeng.api.entity.PrintIssue">
		select
		<include refid="Base_Column_List" />
		<![CDATA[
		from printissue T
		where T.is_bonus='NO' AND T.issue_type in('7')
		]]>
	</select>	
</mapper>